# Ignore large files in data/model
data/model/*.npy
data/model/*.pkl

# Byte‑code & cache
__pycache__/
*.py[cod]

# Ignore Jupyter notebooks (ensure clean versions are committed if needed)
*.ipynb
# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
!data/raw/README.md
exports/*

# IDE and OS specific / OS & IDE
.vscode/
.idea/
.DS_Store

# Build artifacts
subcipher.egg-info/
