[MESSAGES CONTROL]
# Disable specific messages by code or symbolic name.
# For example, to disable the 'missing-docstring' message:
# disable=C0111
# Or multiple messages:
# disable=C0111, C0103, R0903

[REPORTS]
# Set to 'no' to disable generating reports
reports=no

[BASIC]
# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,ex,Run,_

# Bad variable names which should always be rejected, separated by a comma
# bad-names=foo,bar,baz

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=88

# Maximum number of parents for a class (see R0901).
max-parents=7

# Maximum number of arguments for a function / method (see R0913).
max-args=5

# Maximum number of local variables for a function / method (see R0914).
max-locals=15

# Maximum number of return statements in a function / method (see R0911).
max-returns=6

# Maximum number of branch statements in a function / method (see R0912).
max-branches=12

# Maximum number of statements in a function / method (see R0915).
max-statements=50

# Minimum lines number of a similarity cluster. Below this number, messages
# about similarities will be disabled.
min-similarity-lines=4

[DESIGN]
# Maximum number of public methods for a class (see R0904).
max-public-methods=20
